.entrepreneur {
    padding: 0px 20px 20px;
    // border: 2px solid $blue;
    box-shadow: 1px 1px 20px $disabled;
    border-radius: 30px;

    &__header {
        display: grid;
        min-width: 455px;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-items: center;
        margin: 5px 0 30px;

        h2 {
            font-size: 18px;
        }
    }

    &__footer {
        display: flex;
        margin-top: 15px;
    }
}

.company_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
    padding: 0 30px;
}

.company_address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
}

.services_provided {
    // min-width: 625px;

    label {
        font-weight: bold;
    }

    &__input_number {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
    }

    &__average_price {
        margin: 15px 0;
        text-align: center;

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 5px;
        }
    }

    &__options {
        display: grid;
        margin: 15px 0;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__pets_accepted {
        display: grid;
        margin: 15px 0;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.images_upload {
    &__input_wrapper {
        cursor: pointer;
        border: 1px dashed $black;
        background-color: $disabled;
        border-radius: 10px;
        padding: 30px 200px;
        display: flex;
        justify-content: center;

        img {
            max-width: 30px;
        }

        input {
            display: none;
        }
    }

    &__input_file {
        background-color: $disabled;
    }

    &__preview {
        display: flex;
        justify-content: center;
        gap: 10px;

        &_images {
            max-width: 100px;
        }
    }
}
