.register {
    width: 100vw;
    height: 100vh;
    background-color: $blue;
    overflow: hidden;
    color: $white;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            margin: 50px;
    
            span {
                color: $yellow;
            }
        }
    }


    .cards {
        display: flex;
        justify-content: center;
    }
}

.slug {
    
}
