.shadow {
    position: relative;

    &__img {
        position: absolute;
        top: 50px;
        left: 60px;
        max-width: 300px;
        z-index: 4;
    }

    &__blue {
        position: relative;
        top: -15px;
        right: -15px;
        animation: circular 2s infinite;
    }
    
    &__yellow {
        position: absolute;
        z-index: 3;
    }
}

@keyframes circular {
    0% {
        top: -20px;
        right: -20px;
    }

    50% {
        top: -30px;
        right: -35px;
    }

    100% {
        top: -20px;
        right: -20px;
    }
}
