.button {
    border-radius: 20px;
    background-color: $yellow;
    color: $blue;
    border: none;
    height: 40px;
    padding: 5px 45px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}
