.question {
    width: 800px;
    height: 60px;
    border-bottom: 2px solid $blue;
    padding-bottom: 20px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;

            p {
                margin-left: 15px;
            }
        }

        span {
            color: $blue;
        }

        &__bottom_arrow {
            transition: all .5s ease-in;
        }
    }

    &__answer {
        p {
            padding: 0 30px;

            span {
                color: $blue;
            }
        }
    }
}
