.hotel {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 20px;
    align-items: center;

    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;
        border: 2px solid $blue;
        padding: 15px 50px;
        gap: 20px;

        &__rate {
            display: flex;
            gap: 15px;

            &__stars {
                display: flex;
                align-items: center;
            }
        }

        &__average_price {
            display: flex;
            padding-left: 20px;
            border-left: 2px solid $blue;
            // border: 2px solid red;
            justify-content: center;
            align-items: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        &__nav {
            display: flex;
            list-style: none;
            gap: 20px;
            color: $blue;
        }

        &__info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
            padding: 20px;
            border-bottom: 2px solid $blue;
            // align-self: center;
            // max-width: 80%;
            
            &_description {
                max-width: 80%;
            }
        }
        
        &__services {
            border-bottom: 2px solid $blue;
        }

        &__pets {
            border-bottom: 2px solid $blue;
        }
    }
}
