.home {
    &__container {
        display: flex;
        justify-content: center;
        margin: 100px 0;
    }

    &__hero {
        display: inline-grid;
        grid-template-columns: 2fr 1.5fr;
        padding: 50px;

        &_content {
            max-width: 430px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;

            span {
                color: $blue;
            }
        }
    }
}
