.home {
    &__container {
        display: flex;
        justify-content: space-evenly;
    }

    &__hero {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 100px;

        &_content {
            max-width: 430px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;

            span {
                color: $blue;
            }
        }
    }
}
