.stepper {
    width: 150px;

    &__content {
        display: flex;
        justify-content: space-around;

        &_container {
            display: grid;
            grid-template-rows: 20px 10px;
            flex-direction: column;
            place-items: center;
        }
    }

    &__counter {
        border-radius: 15px;
        height: 8px;
        width: 35px;
    }
}
