.default {
    display: flex;
    flex-direction: column;

    &__input {
        border-radius: 10px;
        min-height: 26px;
        padding: 0 5px;
        border: 1px solid $black;
    }
}

