.default {
    display: flex;
    flex-direction: column;

    &__input {
        border-radius: 10px;
        min-height: 26px;
        padding: 0 5px;
        border: 1px solid $black;

        &:-webkit-autofill,
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px #FFF inset !important;
            -webkit-text-fill-color: #000 !important;
        }
    }
}
